* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    /*background: linear-gradient(rgb(47,150,163), rgb(48,62,143));*/
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    /*background-repeat: no-repeat;*/
    /*font-family: 'montserrat', sans-serif;*/
    background-image: url('wether.jpg');
   background-size: cover;
   background-position: top center;
}


.container {
    width: 500px;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}

.container h1 {
    padding: 20px 0px;
}

.container input[type="text"] {
    height: 35px;
    width: 300px;
    border: 0;
    outline: none;
    margin: 0 50px;
    padding-left: 10px;
    font-size: 16px;
    font-weight: bold;
    border-radius:15px 0px 15px 0px;
    text-transform: capitalize;
    box-sizing: border-box;
    border-bottom: 3px solid #DF8E00;

}

::placeholder {
    color: #d4d4d4;
}

.btn {
    padding: 8px 25px;
    margin: 10px 5px;
    border: none;
    outline: none;
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 25px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    
}

.btn:hover {
    background: #fff;
    color: #000;
}

.showData {
    margin: 40px 0px;
    line-height: 1.6;
}

.showData ul {
    list-style-type: none;
}

.showData .city {
    font-size: 3rem;
}

.showData .temp {
    font-size: 5rem;
    font-weight: bold;
}

.showData .desc {
    font-size: 2rem;
    text-transform: capitalize;
}

@media screen and (max-width: 600px) {


}